<!-- Exercicio 1 -->
<!-- <h1>Bem vindo ao {{"projeto da semana 11" | captalizePhilips}}</h1> -->


<!-- Exercicio 2 -->
<!-- <app-navbar></app-navbar> -->

<!-- Exercicio 3 -->
<!-- <app-card></app-card> -->

<!-- Exercicio 4 -->
<!-- <app-demo-modal></app-demo-modal> -->

<!-- Exercicio 5 -->
<!-- <app-modal-content></app-modal-content> -->

<!-- Exercicio 6 -->
<app-card-ngcontent>
    <h5 id="titulo" class="card-title">Titulo do card</h5>
    <h6 id="subtitulo" class="card-subtitle mb-2 text-muted">Subtitulo do card</h6>
    <p id="descricao" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur suscipit nihil
        officiis, natus voluptatum ipsum nesciunt doloremque accusantium quis perspiciatis, dolor neque, reiciendis
        ratione possimus cum facilis distinctio voluptatibus deserunt?</p>

</app-card-ngcontent>