<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-1 text text-dark" href="#">DEVinBank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-3 text">
                <li class="nav-item">
                    <a (click)="pageChange('Home')" class="nav-link active mx-2" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a (click)="pageChange('Conta')" class="nav-link active mx-2" aria-current="page" href="#">Conta</a>
                </li>
                <li class="nav-item">
                    <a (click)="pageChange('Config')" class="nav-link active mx-2" aria-current="page" href="#">Configurações</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
<div [ngSwitch]="page">
    <h2 *ngSwitchDefault >Estou na página de Home</h2>
    <h2 *ngSwitchCase="'Conta'">Estou na página da Conta</h2>
    <h2 *ngSwitchCase="'Config'">Estou na página de Configurações</h2>
</div>